@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.line-through {
  text-decoration: line-through;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 0;
  margin: 50px 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.358);
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
  background-color: #f0f0f0;
  padding: 20px;
}

.title-container h2 {
  margin: 0;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  color: rgb(105, 105, 105);
  border-bottom: 1px solid rgb(229, 229, 229);
}

#input-task {
  width: 85%;
  padding: 10px 12px;
  border: none;
}

#input-task:focus {
  outline: none;
}

#enter-task {
  font-size: 20px;
  color: gray;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 10px;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0;
  color: gray;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.in-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.text-todo {
  color: gray;
  font-weight: 400;
  font-size: 20px;
}

.btns {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px;
}

#edit-todo {
  border: none;
  background: none;
  font-size: 18px;
  color: gray;
  cursor: pointer;
  padding: 0;
}

#del-btn {
  background: none;
  border: none;
  font-size: 18px;
  color: rgb(101, 101, 101);
  padding: 0;
}

.disable {
  display: none;
}

.clear-task {
  padding: 20px;
  font-size: 18px;
  color: gray;
  border: none;
  cursor: pointer;
  margin: 0;
}
